
p{
color: black;
font-family: monospace;
font-size: 13px; 
font-weight: bolder;
margin-bottom: 80px;
margin-top: 60px;
margin-left: 250px;
margin-right: 250px;
text-align: center;
}

#peanut{
height: 6%;
width: 6%;
filter: brightness(90%) contrast(120%);
margin: 50px;
margin-top: 200px;
}

div{
text-align: center;
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 50px); }
    100%   { transform: translate(0, -0px); }    

